.win {
    background-color: green;
    font-size: 10em;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 99;
}

.loss {
    background-color: red;
    font-size: 10em;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 99;
}

.message {
    font-size: 2em;
    color: red;
    position: fixed;
    z-index: 50;
    text-align: center;
    margin: 50px 40%;
}

header {
    background-color: green;
    text-align: center;
    padding: 10px;
    font-size: 3em;
}

.container {
    margin: 30px 10%;
    text-align: center;
}

#game-board {
    font-size: 5em;
    border: 1px solid black;
}

.box-head {
    background-color: antiquewhite;
    font-size: 2em;
}

.box-body {
    font-size: 1.6em;
}

.box {
    border: 1px solid black;
    float: left;
    width: 45%;
    margin: 1%;
}